
<div class="app-container">
    <div class="text-center">
        @{
            ViewBag.Title = "SlackAuthorize";
        }

        <p class="info-msg">  @ViewBag.Message</p>
        <p>
            <a href='@Url.Action("Index", "Home")'>
                <input type='submit' class="back-btn" value='Back to Home' />
            </a>
        </p>
    </div>
</div>
