<div class="taskmail-details">
    <div class="page-title">
        <div class="title_left">
            <h3>Task Mail Details</h3>
        </div>
        <div class="title_right">
            <div class="form-group pull-right ">
                <button class="btn btn-back btn-success btn-sm" (click)="getTaskMailList()" [hidden]="IsHide"><i class="fa fa-arrow-left"></i>Back</button>
            </div>
        </div>
    </div>



    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_content">
                    <div class="form-group row m-0">
                        <label class="control-label col-md-1 selc-date">Select Date:</label>
                        <div class="col-md-4">
                            <input type="date" class="form-control col-md-4" name="selectDate" [(ngModel)]="SelectedDate" [max]="MaxDate" [min]="MinDate">
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-success" (click)="getTaskMailForSelectedDate(taskMail[0].UserName,taskMail[0].UserId,taskMail[0].UserRole,taskMail[0].CreatedOns,SelectedDate)">Search</button>
                        </div>
                    </div>
                    <div *ngFor="let taskmailUser of taskMail" class="tsk-view">
                        <div class="form-group row">
                            <label class="control-label">  Name:</label>
                            <p>{{taskmailUser.UserName}}</p>
                        </div>

                        <div class="form-group row">
                            <label class="control-label">    Task Mail Date:</label>
                            <p>{{taskmailUser.CreatedOns}}</p>
                        </div>
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Hours</th>
                                    <th>Status</th>
                                    <th>Comment</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let taskmailDetails of taskmailUser.TaskMails">
                                    <!--<td>{{taskmailDetails.Id}}</td>-->
                                    <td>{{taskmailDetails.Description}}</td>
                                    <td>{{taskmailDetails.Hours}}</td>
                                    <td>{{taskmailDetails.StatusName}}</td>
                                    <td>{{taskmailDetails.Comment}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="x_title"></div>

                    <div class="row m-0">

                        <button [disabled]="IsMinDate" (click)="getTaskMailPrevious(taskMail[0].UserName,taskMail[0].UserId,taskMail[0].UserRole,taskMail[0].CreatedOns)" class="btn btn-success pull-left"> Previous</button>
                        <button [disabled]="IsMaxDate" (click)="getTaskMailNext(taskMail[0].UserName,taskMail[0].UserId,taskMail[0].UserRole,taskMail[0].CreatedOns)" class="btn btn-success pull-right"> Next</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>