<!--<div class="taskmail-list">
    <div class="card-title-block d-flex">
        <div class="title items">
            <h3>Task Mail Details</h3>
        </div>
        <div class="items text-right">

        </div>
    </div>
    </div>-->
<div>

    <div>
        Select Date:<input type="date" name="selectDate"  [(ngModel)]="SelectedDate" [max]="isMaxDate" [min]="isMinDate">
        <button (click)="getTaskMailForSelectedDate(taskMailUser[0].UserName,taskMailUser[0].UserId,taskMailUser[0].UserRole,taskMailUser[0].CreatedOns,SelectedDate)">Search</button>
        
    </div>
    <div *ngIf="!spinner.active" id="container">Nothing is Loading Now</div>
    <div *ngFor="let taskmailUser of taskMailUser">
        Name: {{taskmailUser.UserName}}
        Task Mail Date: {{taskmailUser.CreatedOns}}
        <!--{{taskmailUser.UserRole}}-->
        <br />
        <table>
            <tr><td colspan="4"></td></tr>
            <tr>
                <td>Description</td>
                <td>Hours</td>
                <td>StatusName</td>
                <td>Comment</td>
            </tr>
            <tr *ngFor="let taskmailDetails of taskmailUser.TaskMails">
                <!--<td>{{taskmailDetails.Id}}</td>-->
                <td>{{taskmailDetails.Description}}</td>
                <td>{{taskmailDetails.Hours}}</td>
                <td>{{taskmailDetails.StatusName}}</td>
                <td>{{taskmailDetails.Comment}}</td>
            </tr>
        </table>
        
    </div>
    <button [disabled]="isMin" (click)="getTaskMailPrevious(taskMailUser[0].UserName,taskMailUser[0].UserId,taskMailUser[0].UserRole,taskMailUser[0].CreatedOns)"> Previous</button>
    <button [disabled]="isMax" (click)="getTaskMailNext(taskMailUser[0].UserName,taskMailUser[0].UserId,taskMailUser[0].UserRole,taskMailUser[0].CreatedOns)"> Next</button>
    <button (click)="getTaskMailList()" [hidden]="isHide"> Back</button>
   
</div>