.m-0{margin-right:0;margin-left:0;}
md2-chips .md2-chips-container {box-shadow:  none !important;}
.mail-settings .form-group{margin-bottom:20px;}
.mail-settings .chip-input-form {width:100%;}
.mail-settings input[type=checkbox]{vertical-align:middle;margin:0;}
.mail-settings .btn{width:100px;}
 md2-option.md2-selected ,md2-select:focus:not(.md2-select-disabled) .md2-select-trigger ,.md2-autocomplete-trigger.is-focused .md2-autocomplete-placeholder{color:#169F85!important;}
 md2-select:focus:not(.md2-select-disabled) .md2-select-trigger{border-color:#169F85!important;}
.md2-autocomplete-trigger.is-focused{border-bottom:2px solid #169F85!important}
.taskmail-details label.selc-date {padding: 0;vertical-align: top;display: block;padding-top: 7px;text-align:right}
.taskmail-details table{margin:30px 0;}
.taskmail-details  .tsk-view  label{float:left;padding-right:10px;width:104px;text-align:right}
.taskmail-details .btn-back {padding:6px 15px;font-size:14px;}
.taskmail-details .btn-back .fa-arrow-left{font-size: 13px;padding: 0px 5px 0px 0px;vertical-align: middle;}
