<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SlackChatUpdateUrl" value="https://slack.com/api/chat.update" />
    <add key="ProjectUserUrl" value="http://localhost:35716/api/ProjectUser/" />
    <add key="ProjectUrl" value="http://localhost:35716/api/Project/" />
    <add key="UserUrl" value="http://localhost:35716/api/User/" />
    <add key="IncomingWebHookUrl" value="https://hooks.slack.com/services/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" />
    <add key="OAuthUrl" value="http://localhost:35716/OAuth/ExternalLogin" />
    <add key="ClientId" value="JQP0JO3IKN2VER7" />
    <add key="ClientSecret" value="bhGVQerxIxnxalmQUv1sujbGhDZ0tH" />
    <add key="ClientReturnUrl" value="http://localhost:28182/Home/ExtrenalLoginCallBack" />
    <add key="ProviderName" value="Promact" />
    <add key="OAuthClientId" value="4652768210.64432316128" />
    <add key="OAuthClientSecret" value="b6726e1e561ce3f0fa42936854466ac0" />
    <add key="LeaveManagementAuthorizationUrl" value="https://slack.com/oauth/authorize" />
    <add key="ChatPostUrl" value="https://slack.com/api/chat.postMessage" />
    <add key="tsakmailId" value="U23UZFLN7" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="siddhartha@promactinfo.com">
        <network host="webmail.promactinfo.com" port="587" userName="siddhartha@promactinfo.com" password="B#(WdPtCwdI^Duik" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>