<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="server=ROSHNIS;database=UnitTesting;uid=user;password=P@ssw0rd;" providerName="System.Data.SqlClient" />
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=D:\slack_erp_custom_integration_mvc\slack-erp-custom-integration-mvc\Slack.Automation\Promact.Erp.Web\App_Data\aspnet-SlashCommand-20160725100110.mdf;Initial Catalog=aspnet-SlashCommand-20160725100110;Integrated Security=True"  providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="SlackChatUpdateUrl" value="https://slack.com/api/chat.update" />
    <add key="ProjectUserUrl" value="http://localhost:35716/api/ProjectUser/" />
    <add key="IncomingWebHookUrl" value="https://hooks.slack.com/services/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" />
    <add key="OAuthUrl" value="http://localhost:35716/OAuth/ExternalLogin" />
    <add key="ClientId" value="dhadf15sgdth4td54hfg" />
    <add key="ClientSecret" value="dhadf15sgdth4td54hfg5d4f8" />
    <add key="ClientReturnUrl" value="http://localhost:28182/Home/AccessToken" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="siddhartha@promactinfo.com">
        <network host="webmail.promactinfo.com" port="587" userName="siddhartha@promactinfo.com" password="B#(WdPtCwdI^Duik" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>