<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <targets async="true">

    <target
     name="taskReportModule"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message : ${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
    fileName="NLog/nlog-taskReportModule-${shortdate}.${level}.log"/>

      <target
     name="taskBotModule"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message : ${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
    fileName="NLog/nlog-taskBotModule-${shortdate}.${level}.log"/>

    
    <target
     name="authenticationModule"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message:${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
     fileName="NLog/nlog-authenticationModule-${shortdate}.${level}.log"/>

     <target
     name="scrumBotModule"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message:${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
     fileName="NLog/nlog-scrumBotModule-${shortdate}.${level}.log"/>

    
    <target
    name="ownFile-web"
    xsi:type="File"
    layout="Time : ${time} ${newline}Message:${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
   fileName="NLog/nlog-${shortdate}.${level}.log"/>

    <target
     name="emailService"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message : ${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
    fileName="NLog/nlog-emailService-${shortdate}.${level}.log"/>
    
    <target
     name="slackRepository"
     xsi:type="File"
     layout="Time : ${time} ${newline}Message : ${message} ${exception:format=tostring}${newline}----------------------------------------------------------------------------------------------------------------------------------------------------------------${newline}"
    fileName="NLog/nlog-slackRepository-${shortdate}.${level}.log"/>
    <!--<target xsi:type="ColoredConsole" 
            name="ColoredConsole" 
            layout="Time : ${time} ${newline}Message:${message} ${exception:format=tostring}${newline}">
      <highlight-row condition="true" foregroundColor="DarkGray"/>
    </target>-->
    <target xsi:type="Null" name="blackhole" />
  </targets>
  <rules>
    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <logger name="TaskReportModule" minlevel="Trace" writeTo="taskReportModule" />
    <logger name="AuthenticationModule" minlevel="Trace" writeTo="authenticationModule" />
    <logger name="ScrumBotModule" minlevel="Trace" writeTo="scrumBotModule" />
    <logger name="TaskBotModule" minlevel="Trace" writeTo="taskBotModule" />
    <logger name="EmailService" minlevel="Trace" writeTo="emailService" />
    <logger name="SlackRepository" minlevel="Trace" writeTo="slackRepository" />
    <!--<logger name="ColoredConsole" minlevel="Trace" writeTo="ColoredConsole" />-->
    <logger name="*" level="Trace" writeTo="ownFile-web" />
    <logger name="*" level="Error" writeTo="ownFile-web" />
  </rules>
</nlog>

