.base-page {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #fff;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loader {
    display: inline-block;
    font-size: 6rem;
    animation: 2s rotate infinite linear;
    width: 1em;
    height: 1em;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: -50px 0px 0px -50px;
}
.loader circle {
    fill: transparent;
    stroke: #4bcf99;
    stroke-width: 0.1em;
    stroke-linecap: round;
    stroke-dasharray: 2.3525em 0.4705em;
    animation: 1.5s strokeDashArray infinite linear, 24s colorBounce infinite linear;
}
.container.body .right_col {
    min-height: 100vh;
}
